@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.sen-light {
  font-family: 'Sen', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sen-base {
  font-family: 'Sen', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
